<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./CSS/floatingElements.css" />
  </head>
  <body>
    <article class="tweet clearfix">
      <div class="avater">
        <p>Lorem ipsum dolor sit amet.</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
          possimus aliquid, sint voluptas consequatur quis fuga magnam quam,
          quas neque similique, minima temporibus. Tempore officiis ipsam vero,
          quaerat nobis labore quae deleniti blanditiis veniam impedit accusamus
          autem facere id quia et, qui voluptatem sequi odio aspernatur, earum
          quas consectetur saepe!
        </p>
      <div class="clear"></div>
    </article>
  </body>
</html>
