<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mediaQuries</title>
    <link rel="stylesheet" href="./CSS/MediaQueries.css" />
  </head>
  <body>
    <div class="container">
      <div class="box">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea
          consequatur amet exercitationem expedita voluptas maxime alias veniam
          provident omnis repellendus?
        </p>
      </div>
      <div class="box">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
          accusantium quam illo autem eaque nobis repellat consequuntur mollitia
          rerum ex?
        </p>
      </div>
    </div>
  </body>
</html>
