<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./CSS/overFlowing.css" />
  </head>
  <body>
    <div class="box">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta
        voluptatibus velit alias ipsum ipsa quisquam enim? Corrupti dolore
        delectus hic, obcaecati, nihil aspernatur, maiores temporibus quis alias
        deleniti laudantium! Exercitationem esse, ut non magnam est alias eaque,
        voluptas quia, repellat nam odio consequuntur fugiat a. Ex qui at enim
        cumque?
      </p>
    </div>
  </body>
</html>
