html{
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
}

/* body{
    margin: 10px;
} */

.box{
    /*50% of the parent element*/
    /* width: 50vw;
    height: 100vh; */

    width: 15rem;
    height: 100vh;
    background-color: gold;
    border-top: 3px solid orange;

}